{% extends "parent.html" %} {% block content %}
<h2>Oblicz wartość wymiany waluty po aktualnym kursie NBP</h2>

<form
  name="currency_calc"
  action="{{ url_for('currency_calc') }}"
  method="POST"
>
  <label for="name">Wybierz walutę:</label>

  <select name="currency" id="currency">
    {% for item in items %} {% if item==selected_currency_code %}
    <option selected value="{{item}}">{{item}}</option>
    {% else %}
    <option value="{{item}}">{{item}}</option>
    {% endif %} {% endfor %}
  </select>
  <br /><br />
  <label for="name">Wprowadź ilość kupowanej waluty:</label>
  <input
    type="text"
    id="currency_count"
    name="currency_count"
    value="{{currency_count}}"
  />
  <input type="submit" value="Przelicz" />
</form>


{% endblock %}
